body {
	background:#f3f3f3;
}

.wrapper, footer {
	max-width: 980px;
	background: white;
	margin: 10px auto;
	padding: 20px;
}

img {
	width: 100%;
}

button {
	padding: 15px;
	border: none;
	background: blue;
	color:white;
	font-weight: bold;
	border-radius: 4px;
	margin: 10px;
}